* {
    box-sizing: border-box;
}

body{
    background-image: url('tiger-pattern.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #FFFFFF;
}

.container{
    width: 80%;
    height: auto;
    min-height: 100vh;
    margin:0 auto;
    padding: 50px;
    background-color: white;
}

header{
    width: 100%;
    height: auto;
    min-height: 135px;
    margin: 0px auto;
    position: relative;
    border-bottom: 1px solid grey;
    padding: 10px 0;
    box-shadow: 0 4px 2px -2px gray;
}

header > h1{
    margin-top:0px;
    font-family: 'Permanent Marker', cursive;
}

header > img{
    height: 110px;
    position: absolute;
    right: 10px; 
}

header > p{
    margin: 10px 10px 10px 0;
    display: inline-block;
}

.js-restart-top{
    height: 27px;
    cursor: pointer;
}

main{
    width: 100%;
    margin: 0px auto;    
}

.quiz-form{
    line-height: 1.4;
}

.quiz-form input[type='submit']{
    margin-top:10px;
}

.quiz-form input[type='radio']{
    margin-right: 5px;
}

.js-start-quiz{ 
    cursor: pointer;  
}

.js-hidden{
    display: none;
}

.js-validate-question{
    cursor: pointer;
}

.js-next{
    cursor: pointer;
    margin-top:10px;
}

.js-restart{
    cursor: pointer;
}

.js-feedback{
    padding: 10px;
    line-height: 1.4;
}

.js-empty-answer{
    background-color: rgba(255, 255, 0, 0.2);
}

.js-right-answer{
    background-color: rgba(0, 128, 0, 0.2);
}

.js-wrong-answer{
    background-color: rgba(255, 0, 0, 0.2);
}

@media only screen and (max-width: 735px) {

.container{
    width: 90%;
    padding: 40px;
}

header > img{
    display: none;
}

.quiz > h2{
    font-size: 1.0.em;
}

}

@media only screen and (max-width: 320px) {

.container{
    width: 100%;
    min-height: auto;
    margin:40px 0;
    padding: 20px;
}

}